{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<h2>{{ song.songtitle }}</h2>
<p>Link: {{ song.songlink }}</p>

{% if song.ratingcount > 0 %}
<p>Rating: {{ song.calcRating | floatformat:1 }} / 10.0</p>
{% else %}
<p>Rating: 0.0 / 10.0</p>
{% endif %}

<p>Number of Ratings: {{ song.ratingcount }}</p>
<p>Reviews: <br>
    
    <form method='get' action='#'>
        <input type="submit" value="New" name="New"/>
        <input type="submit" value="Upvotes" name="Upvotes"/>
        <input type="submit" value="Downvotes" name="Downvotes"/>
    </form>

    {% if request.GET.New %}
        {% for u in song.songreviews.all|sort_by:'-reviewdatetime' %}
        <li><a href="{% url 'reviewdetails' id=u.id %}">{{ u }}</a> ({{ u.reviewupvotes }} / {{ u.reviewdownvotes }}) (Submitted: {{ u.reviewdatetime }})</li>
        {% endfor %}
    {% endif %}

    {% if request.GET.Upvotes %}
        {% for u in song.songreviews.all|sort_by:'-reviewupvotes' %}
        <li><a href="{% url 'reviewdetails' id=u.id %}">{{ u }}</a> ({{ u.reviewupvotes }} / {{ u.reviewdownvotes }}) (Submitted: {{ u.reviewdatetime }})</li>
        {% endfor %}
    {% endif %}

    {% if request.GET.Downvotes %}
        {% for u in song.songreviews.all|sort_by:'-reviewdownvotes' %}
        <li><a href="{% url 'reviewdetails' id=u.id %}">{{ u }}</a> ({{ u.reviewupvotes }} / {{ u.reviewdownvotes }}) (Submitted: {{ u.reviewdatetime }})</li>
        {% endfor %}
    {% endif %}


{% endblock %}