<!DOCTYPE html>
 <html> 
<head> 
<title>MUSEIC</title> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
<div class='jumbotron'> 
<h1>MUSEIC</h1>
 </div> 
   <nav class="navbar navbar-default"> 
   <div class="container-fluid">
<div class="navbar-header"> 
<a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a> 
</div> 
<ul class="nav navbar-nav">
    <li><a href="{% url 'songs' %}">Songs</a></li>
    <li><a href="{% url 'artists' %}">Artists</a></li>
    <li><a href="{% url 'reviews' %}">Reviews</a></li>
</ul>
</div> 
</nav> 
<div class="container-fluid"> 
{% block content %} 

{% endblock content %} 
</div> 
</body> 
</html>